<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <test name="TestChaptersInfo">
        <groups>
            <run>
                <include name="chapter"/>
                <exclude name="chapters"/>
            </run>
        </groups>
        <classes>
            <class name="cases.TestChaptersInfo"/>
        </classes>

    </test>
    <listeners>
        <listener class-name="report.MyExtentTestNgFormatter"></listener>
    </listeners>
</suite>
